.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 20px;
    transition: 0.8s;
}

.logo {
    margin-right: 10px;
    top: -15px;
    line-height: 2px;
    font-size: 25px;
    font-weight: 900;
    color: red;
    letter-spacing: 2px;
}

.logo__text {
    margin-left: 35px;
  }

.burger_menu {
    margin-left: 15px;
}

.open {
    font-weight: 600;
    margin-left: 15px;
}

.menu_closed {
    position: absolute;
    top: 70px;
    left: -100%;
    transition: 0.8s;
    z-index: 10;
}

.menu_open {
    left: 0;
    top: 72px;
    position: absolute;
    transition: 0.8s;
}   