.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 20px;
}

.logo {
    margin-left: 70px;
}

.burger_menu {
    margin-left: 50px;
}