.selectedPage {
    font-weight: bold;
    color: red;
    transform: scale(1.3);
}

.numberPage {
    display: flex;
    justify-content: center;
    margin: 50px 0px 70px 0;
}

.numberPage a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.wrapperPage {
    width: 40px;
}

.wrapperPage button {
    background-color: inherit;
    border: none;
}

.wrapperPage button:hover {
    font-weight: 700;
    transform: scale(1.3);
    transition: 0.4s;
}

.wrapperPrev {
    width: 50px;
}

.portion {
    width: 50px;
    background-color: inherit;
    border: none;
}

.portion:hover {
    font-weight: 700;
    transform: scale(1.1);
    transition: 0.4s;
}