.wrapperSwitchInput input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.wrapperSwitchInput label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.wrapperSwitchInput label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.wrapperSwitchInput input:checked+label {
    background: #bada55;
}

.wrapperSwitchInput input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.wrapperSwitchInput label:active:after {
    width: 20px;
}


.wrapperSwitchInput {
    display: flex;
    justify-content: center;
    align-items: center;
}