.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper h2 {
    margin-top: 40px;
}

.wrapperFields {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.592);
    height: 65vh;
    padding: 50px 30px 0 30px;
    border-radius: 13px;
}

.wrapperFields span {
    margin-right: 200px;
    font-size: 18px;
}

.wrapperFields fieldset {
    font-size: 17px;
    border: none;
    padding: 0;
}

.wrapperFields fieldset label {
    margin-right: 10px;
}