.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    z-index: 2;
}

.wrapper_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.507);
    width: 100vw;
    height: 91vh;
    border-radius: 10px 10px 0 0;
    backdrop-filter: blur(6px);
    z-index: 10000 !important;
}

.nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 30px;
    line-height: 70px;
    z-index: 1000;
}

.wrapper_auth {
    margin-bottom: 30px;
    font-size: 34px;
}