.formError {
    color: red;
    display: flex;
    justify-content: center;
}

.rememberMe {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

.fieldControl {
    display: flex;
    margin-bottom: 15px;
}

.fieldControl input {
    margin: 0;
    padding: 2px 3px 2px 4px;
    font-weight: 600;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 9px;
    background-image: none;
    background-color: rgba(208, 208, 208, 0.663);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fieldControl input::placeholder {
    color: rgb(30, 29, 29);
}