body {
    margin: 0;
    overflow: hidden;
}

.wrapper_app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 12px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "n"
    "c";
}

.header {
    grid-area: h;
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 0 0 10px 10px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.content {
    grid-area: c;
    height: fit-content;
    background-color: rgba(221, 218, 218, 0.474);
    border-radius:10px 10px 0 0;
    max-height: 88vh;
    min-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}