.wrapperLoginPage {
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/img/1612935649_52-p-fon-krasnii-s-sinim-68.jpg');
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.titleLogin {
    display: flex;
    justify-content: center;
    cursor: default;
    font-size: 20px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

.formSummaryError {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background: inherit;
    backdrop-filter: blur(3px);
    width: 300px;
    min-height: 200px;
    padding: 25px 0 25px 0;
    box-shadow: 0 0 3px 1px white;
    border-radius: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 150px;
    padding: 55px 0 55px 0;
    background: inherit;
    backdrop-filter: blur(3px);
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px white;
    
}

.submit {
    margin-top: 20px;
}

.loginBtn {
    background-color: white;
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

.loginBtn:hover {
    background-color: rgba(255, 255, 255, 0.827);
}

.loginBtn:active {
    background-color: white;
}

.error {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}