.profile__img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 15px 30px;
}

.profile__img:hover {
    box-shadow: 0px 0px 6px 2px rgb(170, 169, 169);
}

.profile__img:active {
    box-shadow: none;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: #ffffff28;
    height: 130px;
}

.profile_bg {
    background-image: url('../../../../assets/img/3200x2400_mountain-river-trees-shore-nature.jpg');
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    width: 100cqw;
    height: 150px;
    margin: 0px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__user {
    max-width: 300px;
    font-style: italic;
}

.userName {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;
}