
.wrapper {
    display: flex;
    align-items: center;
    
    width: 800px;
}
.avatar img {
    margin: 20px 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.text {
    font-size: 15px;
    margin: 0 50px;
}