body {
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}
.app-wrapper {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 9fr;
  grid-template-areas: 
  "h h"
  "n c"
  ;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgba(221, 218, 218, 0.474);
  box-shadow: 0px 0px 3px rgb(154, 154, 154);
  height: 90vmin;
  border-radius: 10px 10px 10px 10px;
  margin: 15px 0 0 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}