
.nav {
    grid-area: n;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    min-height: 90vh;
    border-radius: 10px 0px 0 0;
    margin: 15px 15px 0 0;
    background-color: rgba(95, 81, 182, 0.218);
  }
  .nav a {
    text-decoration: none;
    color: black;
  }
  .settings {
    display: block;
    margin: 30px 0 0 0;
  }
  .line {
    border-bottom: 2px solid black;
    margin: 30px 30px 0 30px;
    height: 0px;
  }
  .link a:hover {
    font-weight: 600;
  }
  .link .active {
    color: red;
    font-weight: 600;
  }